---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import Divider from '../components/Divider.astro';

const allProjects = await getCollection('projects');
---

<MainLayout title="These are my current side projects :)" subtitle="A collection of my software and system internals experiments.">
  <section class="projects-container">
    <p>
      Here you can find my active software projects, ranging from 
      <strong>low-level Rust</strong> implementations to <strong>TypeScript</strong> web tools.
    </p>

    <Divider />

    <div class="projects-grid">
      {allProjects.map((project) => (
      <article class="project-card">
        <figure class="project-image">
          <Image src={project.data.image} alt={project.data.name} />
        </figure>

        <div class="project-info">
          <h3>{project.data.name}</h3>
          <div class="keywords">
            {project.data.keywords?.map((word) => (
              <span class="tag">{word.toUpperCase()}</span>
            ))}
          </div>

          <p class="description">
            {project.data.description}
          </p>

          <footer class="project-links">
            <a href={project.data.github}>SOURCE_CODE</a>
            {project.data.demo && <a href={project.data.demo}>LIVE_DEMO</a>}
          </footer>
        </div>
      </article>
      ))}
    </div>
  </section>
</MainLayout>

<style>
  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
  }

  .project-card {
    border-left: 4px solid var(--border); 
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
  }

  @media (max-width: 900px) {
    .project-card {
      grid-template-columns: 1fr;
    }
  }

  .project-image {
    position: relative;
    aspect-ratio: 16 / 9;
    align-self: center;
  }

  .project-image img {
    width: 100%;
    height: 100%;
  }

  h3 {
    color: var(--fg);
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
  }

  .tag {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--fg-light);
  }

  .tag::before { content: "[ "; }
  .tag::after { content: " ]"; }

  .description {
    font-size: 0.85rem;
    line-height: 1.4;
    margin: 1rem 0;
    border-bottom: 1px dashed var(--bg-alt);
    padding-bottom: 1rem;
  }

  .project-links a {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--blue);
    margin-right: 1rem;
  }
</style>
